/* @override http://3trees.ca/3trees.css */

/* Remove browser styles (see http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	color: #5b5b5b;
	font: 18px/29px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a:link, a:visited, a:active {
	color: #4f71bd;
	text-decoration: none;
	border-bottom: 1px solid #d5d5d5;
	font-weight: bold;
}

a:hover {
	color: #6892f2;
	text-decoration: none;
	border-bottom: 1px solid #cbcbcb;
}

body {margin:0px; padding:0px;}

p {
	margin-top: 14px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#box {
	position:absolute;
	left:50%;
	width:500px;
	margin-top:80px;
	margin-left:-266px;
	padding:15px;
	}
	
.logo {
	text-align: center;
}
